html,body {
  font-size:3.125vw;
  margin: 0;
  font-family:'Sora', sans-serif;
 
}


/* nav */

.nav-grid {
  display:grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr ;
  background-color:rgba(18, 41, 61, 0.98);
  border:0;
  padding:1.3rem;
 
}
.nav {
  width:100%;
  display:flex;
  height: auto;
  
}
.links {
  padding-top:8px; 
}

#brand {
  letter-spacing: 0.2rem;
  font-family: 'Sora', sans-serif;
}

#pad-link{
  padding-left:1rem;
}

a {
  text-decoration: none;
  color:white;
  line-height: 140%;
  font-size: 1.4rem;
}


/* Home */

.home {
  background: linear-gradient(180deg, #12293D 81.13%, rgba(68, 7, 18, 0.9) 106.59%);
  height: 80vh;
  box-sizing: border-box;
}

.text{
  padding-top:15vh;
  color:white;
  text-align: center;
}

#title{
  font-size: 3rem;
  
  font-family: 'Sora', sans-serif;
  letter-spacing: 0.7rem;
  line-height: 1em;
  line-height: 160%;
}

#sm-text {
  font-size:1.5rem;
  letter-spacing: 0.3rem;
}

.text-second {
  text-align: center;
  margin-top: 2rem;
}
#btn {
  font-size:1.6rem;
  padding:1rem;
  border-radius:15px;
  background-color:rgba(66, 167, 255, 0.2);

}

/* About */

.about-container {
  padding-top:4vh;
  height:60vh;
  text-align:left;

  font-size:1.4rem;
  color:#12293D;
  
}

.about {
  background-color:RGBA(90,102,132,0.1);
  
}

#about-title {
  letter-spacing: 0.1rem;
  padding-left:3vw;
}


#about-text {
  padding:10vw 3vw 10vw 10vw;
  text-align:right;
  letter-spacing: 0.1rem;
  word-spacing:2px;

}

/* Projects */
.projects {
  background-color:RGBA(90,102,132,0.1);
  max-width:100%;
}

.cards {
  color:#12293D;
  font-size:1.2rem;
  
}

/* right cards */
.card-right {
  background-color:#12293D;
  color:white;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  padding-bottom: 7vh;
  text-align:left;
  height: 35vh;
  letter-spacing: 0.1rem;
}
.card-img-right {
  height: auto;
  width:90%;
  margin-left:1rem;
  border-radius: 10px;
}


.card-right-two {
  padding-top:10vh;
}
.card-right-one {
  padding-left:2vw;
}




/* left cards */

.card-left{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  padding-bottom: 7vh;
  text-align:right;
  height: 35vh;
  letter-spacing: 0.1rem;
  
}

.card-img-left {
  height: auto;
  width:90%;
  margin-right:1rem;
  border-radius: 10px;
  
}

.card-left-one {
  padding-top:10vh;
 
}
.card-left-two {
  padding-right:2vw;
 
}

/* card titles */
.project-title-right{
  text-align:left;
  font-size:2.4rem;
  letter-spacing: 0.3rem;
}

.project-title-left{
  text-align:right;
  font-size:2.4rem;
  letter-spacing: 0.23rem;
}


/* card buttons */
.buttons  {
  text-align:center;
  padding-top:25px;
  width:100%;
  letter-spacing: 0rem;

}

#gHub {
  background-color:#12293D;
}

#live{
  background-color:#12293D;
  margin-left:5px;
}


#gHub-right {
  background-color:rgba(66, 167, 255, 0.7);
}

#live-right{
  background-color:rgba(66, 167, 255, 0.7);
  margin-left:5px;
}

.project-btn{
  padding:12px;
  font-size:1.2rem;
  border-radius: 12px;
 
}

/* Contact */

.contact {
  height:80vh;
  padding-top:10vh;
  background-color:#12293D;;
  color:white;
 
}

.contact-inside {
  padding:60px 10px 10px 10px;
}


.contact-title {
  font-size:1.8rem;
  letter-spacing: 0.5rem;
}

.contact-text{
  text-align: right;
  font-size:1.4rem;
  padding:5vh 0 6vh 0;
  letter-spacing: 0.2rem;
}

.icons{
  text-align: right;
  font-size:2.5em !important;
  
  padding:1vh 0 4vh 0 ;
}

.icon {
  padding-right:1rem; 
}

.fa-3x {
  font-size:2.5em !important;
}








/* Responsive */




@media screen and (min-width: 500px) {
  html,body {
    font-size:2vw;
  }


   /* home Tablet */
   .home {
    background: linear-gradient(180deg, #12293D 81.13%, rgba(68, 7, 18, 0.9) 106.59%);
    height: 70vh;
    box-sizing: border-box;
  }

  /* nav Tablet */
  .nav {
    width:100%;
    display:flex;
    height: auto;
    
  }
  #brand {
    letter-spacing: 0.75rem;
    font-family: 'Sora', sans-serif;
  }

  #pad-link{
    padding-left:9vw;
  }

  .links {
    padding-top:1.3vh; 
  }


  /* about Tablet */
  .about-container {
    padding-top:4vh;
    height:50vh;
    text-align:left;
  
    font-size:1.4rem;
    color:#12293D;
  }
  /* projects Tablet */
  .projects {
    background-color:RGBA(90,102,132,0.1);
    max-width:100%;
  }

  .card-right-two {
    padding-top:4vh;
  }
  .card-left-one {
    padding-top:4vh;
  }

  .project-btn{
    padding:12px;
    font-size:1.2rem;
  }


  /* contact Tablet */
  .contact {
    height:85vh;
    padding-top:5vh;
    
  }
  
 

  
}





@media screen and (min-width: 800px) {
  html,body {
    font-size:1.1vw;
  }


   /* nav Tablet */
   .nav {
    width:100%;
    display:flex;
    height: auto;
    
  }
  #brand a {
    font-size:1.2em !important;
  }

  #pad-link{
    padding-left:9vw;
  }

  .links {
    padding-top:0.7vh; 
  }



   /* home Tablet */
   .home {
    background: linear-gradient(180deg, #12293D 81.13%, rgba(68, 7, 18, 0.9) 106.59%);
    height: 95vh;
    box-sizing: border-box;
  }

 

  /* about Tablet */
  .about-container {
    padding-top:4vh;
    height:80vh;
    text-align:left;
  
    font-size:1.4rem;
    color:#12293D;
  }
  /* projects Tablet */

  .projects {
    background-color:RGBA(90,102,132,0.1);
    max-width:100%;
  }

  .card-right-two {
    padding-top:4vh;
  }
  .card-left-one {
    padding-top:4vh;
  }

  .card-right {
    height:90vh;
  }
  
  .card-left{
    height:90vh;
  }

  .project-btn{
    padding:12px;
    font-size:1.2rem;
  }



  /* contact Tablet */
  .contact {
    height:85vh;
    padding-top:5vh;

   
  }
  .contact-inside {
    padding:4vw 10vw 0 10vw;
  }
  
}



@media screen and (min-width: 1024px) {
   /* nav Desktop */

  .links {
    padding-top:0.4vh; 
  }



 

  /* about Desktop */
    


  /* projects Desktop */

    
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border:0 !important;
  }

  .card-right {
    height:50vh;
    padding-bottom:10vh
  }

  .card-left {
    background-color: #12293D;
    color:white;
    height:50vh;
    padding-bottom:10vh
  }

  .buttons {
    padding-top:20vh;
    text-align:left;
  }

  #left {
    text-align:right  !important;
  }

  .project-btn {
    background-color: rgba(66, 167, 255, 0.7)!important;
  }

  .btn-third {
    background-color: #12293D !important;
  }
  .btn-fourth {
    background-color: rgba(66, 167, 255, 0.7) !important;
  }

  /* contact Desktop */

  .contact-title{
    font-size:2.4vw;
  }
  .contact-text {
    font-size:1.7rem;
  }
  .icons {
    padding-right:1vw;
    
  }
  .fa-3x {
    font-size:3.8rem !important;
  }


  


  /* fade in  */
  .card-left:hover {
    background-color:rgba(90,102,132,0.06);
    color:#12293D;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  .card-right:hover {
    background-color:rgba(90,102,132,0.06);
    color:#12293D;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }

  .card-left:hover .project-btn{
    background-color: #12293D !important;
  }
  .card-right:hover .project-btn{
    background-color: #12293D !important;
  }

  .about:hover {
    background-color:#12293D;
    
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s
    
  }
  .about:hover .about-container {
    color:white !important;
  }




  .contact:hover {
    background-color:rgba(90,102,132,0.15);
    color:#12293D;
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
   
  }
  .contact:hover a{
    color:#12293D;
  }
  

  /* fade out */
  .card-left {
     background-color: #12293D;
    color:white;
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease .5s;
    -moz-animation: fadeOut ease .5s;
    -o-animation: fadeOut ease .5s;
    -ms-animation: fadeOut ease .5s;
  }
  .card-right {
    background-color: #12293D;
    color:white;
    animation: fadeOut ease .5s;
    -webkit-animation: fadeOut ease 0.5s;
    -moz-animation: fadeOut ease 0.5s;
    -o-animation: fadeOut ease .5s;
    -ms-animation: fadeOut ease .5s;
  }

  .card-left .project-btn{
    background-color: rgba(66, 167, 255, 0.7)!important;
  }
  .card-right .project-btn{
    background-color: rgba(66, 167, 255, 0.7) !important;
  }


  .about {
    background-color: RGBA(90,102,132,0.12);
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
  }


  .contact {
    background-color:#12293D;
    color:white;
    animation: fadeOut ease 0.5s;
    -webkit-animation: fadeOut ease .5s;
    -moz-animation: fadeOut ease .5s;
    -o-animation: fadeOut ease .5s;
    -ms-animation: fadeOut ease .5s;
  }

  
  
}



















/* Animations */
  /* in */
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn{
    0% {opacity:0;}
    100% {opacity:1;}
    }

  /* out */
  @keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
  @keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeOut {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
