/* Root elements */
:root {
  --main-color:#12293D;
  --about-background:#041626;
  --link-color:rgba(230, 61, 92, 0.9);
}

html,body {
  font-size:14px;
  margin: 0;
  font-family:'Sora', sans-serif;
  scroll-behavior: smooth;
  padding: 0px;
  overflow-x: hidden;
  background-color: var(--about-background);
  
}



/* nav */

.nav {
  display:flex;
  background-color:var(--main-color);
  padding:1.3rem;
  -webkit-transition: top 0.5s;
    transition: top 0.5s;
  top:initial
}
.links {
  text-align:end;
  padding-top:4px;
  display:flex; 
  height:100%;
  align-items: baseline;
}
.links a{
  padding-left:1rem;
  align-items:baseline;
  transition:color 0.5s;
}

/* sticky nav */
.nav-fixed {
  
  position: fixed;
  top:0;
  z-index: 100;
  width:100%;
  background-color:rgba(18, 41, 61, 0.98);
  
}
.nav-fixed a {
  color:white;
}

.ex-padding{
  padding-top: 50% !important;
}


/* Scroll link change */

.scrolledLink{
  color:var(--link-color) !important;
}


.links a:hover {
  color:var(--link-color);

}
 a {
  text-decoration: none;
  color:white;
  line-height: 140%;
}


/* Home */

.home {
  height: 100vh;
  display:flex;
  flex-direction: column;
  background-color: var(--main-color);
  -webkit-clip-path: polygon(0% 0%, 0 94%, 100% 77%, 100% 0%);
  clip-path: polygon(0% 0%, 0 94%, 100% 88%, 100% 0%);
}

#animation {
  display:none;
}

.text{
  padding-top:20%;
  color:white;
  text-align: center;
}

.text h1{
  font-size: 3rem;
  letter-spacing: 0.7rem;
  line-height: 1em;
  line-height: 160%;
}

.text p{
  text-transform: uppercase;
  font-size:1.5rem;
  letter-spacing: 0.3rem;
  color:white;
}

.text-second {
  text-align: center;
  margin-top: 2rem;
}
#btn {
  font-size:1.6rem;
  padding:1rem;
  border-radius:15px;
  background-color:rgba(66, 167, 255, 0.2);
  color:white;
}

#animation{
  width:70%;
}


/* About */
.about {
  background: linear-gradient(175.7deg, #041626 50.38%, #E1DDDD 45.38%);
  height:100%;
  justify-content: center;
  padding-bottom:20%;
  padding-top:15%;

}
.about-container {
 
  height:50%;
  font-size:1.4rem;
  margin:0 0 40% 0;
  padding:0 4%;
}


.about-container h2 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align:center;
  margin:0 0 10% 0;
  color:white;
  font-size:1.6em;
}


.about-container p {
  margin:5% 0;
  width:100%;
  text-align:center;
  letter-spacing: 0.1rem;
  word-spacing:2px;
  color:white;
  font-size:16px;

}
/* About - Skills */
.skills {
  box-sizing: border-box;
  box-shadow: 20px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width:85%;
  height:100%;
  background-color:white;
  display: flex;
  margin:10% auto 0 auto;
  flex-direction: column;
  padding-bottom:5%;
  
}

.skill {
  width:100%;
  display: flex;
  flex-direction: column;
  padding:5% 0;
  text-align: center;
}

.skill > img {
  background-size:cover;
  background-repeat:no-repeat;
  width:40vw;
  height:20vh;
  margin:0 auto;
}

 .skill-text h1 {
  letter-spacing: 0.1em;
  font-size:1.5em;
  color:var(--main-color)
}


.skill-text p {
  letter-spacing:0.1em;
  font-size:1.3em;
  
}

.skill:nth-child(2) .skill-text p {
  margin-bottom:2%;
  
}


.skill-text > ul {
  line-height: 1.4em;
  letter-spacing:0.1em;
  padding:0;
  margin:1% 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  
}

.skill-text > ul > li {
  margin:1% 0;
}



/* Projects */
.projects {
  max-width:100%;
  color:#12293D;
  font-size:1.2rem;
  background-color:#E1DDDD;
}
.project-title {
  padding: 10% 5%;
}
.project-title > h1 {
  margin:0;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

}
.project-title > h1:after {
    content: " ";
    border: 1px solid #4b3972;
    margin-top: 20px;
    display: block;
    max-width: 33%;
}

.card-top {
  margin:0 0 15% 0;
  background-size:cover;
  background-repeat:no-repeat;

  height:40vh;
  display: flex;
  align-items: flex-end;


  
}

#firstimg {
  background-image: url('../assets/img/Judo.PNG');
}
#secondimg {
  background-image: url('../assets/img/Refinder.PNG');
}
.card-top h3 {
  margin:0;
  padding:1.5em 0.2em;
  background: rgba(18, 41, 61, 0.8);
  color:white;
  width: 100%;
  font-size:1.6em;
  font-weight:normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.card-bottom {
  margin:0 3% 10% 3%;
}
.card-bottom h3 {
  display: none;
}


.card-bottom p  {
  text-align: center;
  font-size:1.2rem;
  letter-spacing: 0.1rem;
  font-weight: normal;
  
}


/* card buttons */
.buttons {
  text-align:center;
  padding-top:25px;
  width:100%;
  letter-spacing: 0rem;

}

#github-btn {
  background-color: white;
  color:var(--main-color);
  padding: 0.35em 0.8em;
  font-weight: bold;
}

.fa-1x{
  margin-left:2%;
}

#live {
  padding: 0.35em 1em;
  margin-left:4%;
  background-color: #2a959b;
  color:white;
  letter-spacing: 1px;
  border-radius: 0;
}

/* Tags */
.tags {
  display: grid;
  margin-top:2em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
}
.tags > p {
  color:rgb(73, 74, 75);
  background-color: rgba(149, 151, 151, 0.8);
  font-size: 0.8em;
  padding:6% 2%;
  margin:0 auto;
  text-align: center;
  width:80%;
  border-radius: 10px;

}


#last {
  padding-bottom:5%;
}

/* Contact */


.contact {
  height:80vh;
  padding:20vh 2% 5vh 2%;
  background-color:var(--main-color);
  color:white;
  
}
.contact-title {
  font-size:1.2em !important;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.contact-text{
  text-align: right;
  font-size:1.2rem;
  padding:5vh 0 6vh 0;
  letter-spacing: 0.2rem;
}

.icon {
  padding-right:1rem; 
}

.fa-3x {
  font-size:1.5em !important;
}



@media (min-width:500px){

  .ex-padding{
    padding-top: 30% !important;
  }
  .home {
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20%;
  }
  #animation {
    display:block;
   
    
  }

  .vanta-canvas {
   position:relative !important;
  }
  .home-text {
    padding:0% 0 0 5%;
    
  }
.about {
  background: linear-gradient(175.7deg, #041626 64.38%, #E1DDDD 45.38%);
  padding-bottom:10%;
  padding-top:5%;
}
  

  .about h2 {
    margin-bottom:5%;
  }
  .about p {
    margin:0 auto;
    width:50%;
    font-size:1.2rem;
  }
  .about-container {
    margin-bottom:20%;
  }
  
  .skills {
    flex-direction: row;
    width:90%;
  }
  .skill {
    width:33%;
  }
  .skill img {
    width:80%
  }
  
  .skill-text p {
    margin: 0 0 1em 0;
    width:100%;
    font-size:1rem;
    
  }
  
  .skill:nth-child(2) .skill-text p {
    margin-bottom:1em;
  }
  
  .skill-text > ul > li {
    font-size:0.9rem;
  }
  .project-title {
    padding:10% 5% 10% 2%
  }
  .projects{
    padding-bottom:1%;
  }
  
  .card{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    padding:0 2%;
    height:50%;
    margin-bottom:10%;
    justify-content: center;
  }
  .card-top {
    width:45%;
    margin-bottom:0;
    height:25vh
  }

  .card-top h3 {
    display: none;
  }

  .card-bottom {
    width:50%;
    padding-left:5%;
    margin:0;
  }
  .card-bottom h3 {
    display: block;
    font-size:2em;
    margin-top:0;
  }
  .tags {
    width:80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr ;
    column-gap:2%;
  }

  

  
}


@media screen and (min-width: 1024px) {

  .ex-padding{
    padding-top: 10% !important;
  }

  .home {
    height:100%;
    flex-direction: row;
  }

  #btn {
    transition: background-color 0.5s ease;

  }
  #btn:hover {
    background-color:#0d161f;
  }
  .project-title {
    font-size:1.5em;
  }
  .project-title > h1:after {
    max-width: 15%;
  }
  .about-container {
    padding:0;
    margin-bottom:15%;
  }
  .about-container > p {
    font-size:1em;
  }

  .card-top {
    width:45%;
    margin-bottom:0;
    height:50vh;
  }
  .skills {
    flex-direction: row;
    width:70%;
    padding-bottom:0;
  }
  .skill {
    border-left:1px solid #E1DDDD;
  }
  .card-bottom {
    display: flex;
    flex-direction: column;

  }

  #github-btn,#live {
    transition: all 0.5s ease;
    font-weight:700;
  }
  .icon > .fa-github,.fa-linkedin {
    transition: all 0.4s ease;
    
  }
  #github-btn:hover {
    background-color:#041626;
    color:white;
  }
  #live:hover {
    background-color:white;
    color:#12293D;
  }
  .icon > .fa-github:hover, .fa-linkedin:hover {
    color: rgb(165, 8, 8);
   
  }


  .buttons{
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  
  }
  .buttons a {
    width:25%;
  }
 
  .contact-text{
    font-size:2.4rem;
  }
  .tags > p {
    transition: all 0.4s ease
  }

  .tags > p:hover {
    background-color: var(--main-color);
    color:white;
  }



}




